name: Elixir tests

on:
  push:
    branches: [ main ]
    paths:
      - elixir/**
      - test_all.py
      - .github/workflows/elixir.yml

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Set up Elixir (Ubuntu)
      if: ${{ matrix.os == 'ubuntu-latest' }}
      uses: erlef/setup-beam@v1
      with:
        otp-version: '28.1'
        elixir-version: 1.19.2
    - name: Set up Elixir (Windows)
      if: ${{ matrix.os == 'windows-latest' }}
      uses: erlef/setup-beam@v1
      env:
        ImageOS: win22
      with:
        otp-version: '28.1'
        elixir-version: 1.19.2
    - name: Test Elixir (MacOS excepted)
      if: ${{ matrix.os != 'macos-latest' }}
      run: |
        python3 test_all.py elixir
      env:
        PY_DEBUG: 1
