name: Lua tests

on:
  push:
    branches: [ main ]
    paths:
      - lua/**
      - test_all.py
      - .github/workflows/lua.yml

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Prerequisite for Windows Lua installation
      if: ${{ matrix.os == 'windows-latest' }}
      uses: ilammy/msvc-dev-cmd@v1
    - name: Set up Lua
      uses: jkl1337/gh-actions-lua@v11
      with:
        luaVersion: '5.4'
    - name: Install Luarocks
      uses: jkl1337/gh-actions-luarocks@v5
    - name: Install dependencies
      run: |
        luarocks install cfg-lib
    - name: Test Lua
      run: |
        python3 test_all.py lua
      env:
        PY_DEBUG: 1
