name: Ruby tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        ruby-version: ['2.6', '2.7', '3.0', '3.1', '3.2', '3.3', '3.4']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      # Note: this changes the path, so make sure the Python setup is done after this
      # step - otherwise the Python interpreter that runs won't be the expected one
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Test Ruby
      run: |
        python3 test_all.py ruby
      env:
        PY_DEBUG: 1
        RUBY_VERSION: ${{ matrix.ruby-version }}
