name: Rust tests

on:
  push:
    branches: [ main ]
    paths:
      rust/**
      test_all.py
      .github/workflows/rust.yml

  #pull_request:
    #branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rust-version: ['1.77.2', '1.87.0', '1.91.0']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Setup Rust
      uses: moonrepo/setup-rust@v1
      with:
        channel: ${{ matrix.rust-version }}
    - name: Test Rust
      run: |
        python3 test_all.py rust
      env:
        PY_DEBUG: 1
