name: Package tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        java-version: 8
        distribution: 'adopt'
    - name: Set up D
      if: ${{ matrix.os != 'macos-latest' }}  # not compatible
      uses: dlang-community/setup-dlang@4c99aa991ce7d19dd3064de0a4f2f6b2f152e2d7
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Set up Ruby
      # Note: this changes the path, so make sure the Python setup is done after this
      # step - otherwise the Python interpreter that runs won't be the expected one
      uses: ruby/setup-ruby@473e4d8fe5dd94ee328fdfca9f8c9c7afc9dae5e
      with:
        ruby-version: 2.7.2
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Set up Node.js
      if: ${{ matrix.os == 'windows-latest' }}
      uses: actions/setup-node@v2
      with:
        node-version: 12.x
    - name: Set up Nim
      uses: jiro4989/setup-nim-action@v1
      with:
        nim-version: '1.6.0'
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
    - name: Set up Elixir (MacOS excepted)
      if: ${{ matrix.os != 'macos-latest' }}
      uses: erlef/setup-beam@v1
      with:
        otp-version: 22.2
        elixir-version: 1.9.1
    - name: Set up Dart
      uses: dart-lang/setup-dart@v1
      with:
        sdk: stable
    - name: Prerequisite for Windows Lua installation
      if: ${{ matrix.os == 'windows-latest' }}
      uses: ilammy/msvc-dev-cmd@v1
    - name: Set up Lua
      uses: jkl1337/gh-actions-lua@v11
      with:
        luaVersion: '5.4'
    - name: Install Luarocks
      uses: jkl1337/gh-actions-luarocks@v5
    - name: Install dependencies
      run: |
        luarocks install cfg-lib
    - name: Print Windows path
      if: ${{ matrix.os == 'windows-latest' }}
      run: |
        $env:path -split ";"
    # Run tests one-by-one to see progress more quickly
    - name: Test D
      if: ${{ matrix.os != 'macos-latest' }}  # not compatible
      run: |
        python3 test_all.py dlang
      env:
        PY_DEBUG: 1
    - name: Test C#/.NET
      run: |
        python3 test_all.py dotnet
      env:
        PY_DEBUG: 1
    - name: Test Go
      run: |
        python3 test_all.py go
      env:
        PY_DEBUG: 1
    - name: Test JavaScript
      run: |
        python3 test_all.py javascript
      env:
        PY_DEBUG: 1
    - name: Test Rust
      run: |
        python3 test_all.py rust
      env:
        PY_DEBUG: 1
    - name: Test Ruby
      run: |
        python3 test_all.py ruby
      env:
        PY_DEBUG: 1
    - name: Test Elixir (MacOS excepted)
      if: ${{ matrix.os != 'macos-latest' }}
      run: |
        python3 test_all.py elixir
      env:
        PY_DEBUG: 1
    - name: Test Nim
      run: |
        python3 test_all.py nim
      env:
        PY_DEBUG: 1
    - name: Test Dart
      run: |
        python3 test_all.py dart
      env:
        PY_DEBUG: 1
    - name: Test Lua
      run: |
        python3 test_all.py lua
      env:
        PY_DEBUG: 1
    - name: Test Python
      run: |
        python3 test_all.py python
      env:
        PY_DEBUG: 1
    - name: Test Kotlin/Java
      run: |
        python3 test_all.py jvm
      env:
        PY_DEBUG: 1
